{% extends 'index.html' %}
{% load static %}
{% block content %}
{% block nav %}
<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">

    <!-- <h1 class="logo me-auto"><a href="index.html">Medilab</a></h1> -->
    <!-- Uncomment below if you prefer to use an image logo -->
    <a href="/" class="logo me-auto"><img src="assets/img/ATT-logo.png" alt="" class="img-fluid">AVITSENNA
      TIBBIYOT TEXNIKUMI</a>

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto active" href="{% url 'index' %}">Bosh sahifa</a></li>
        <li><a class="nav-link scrollto" href="{% url 'about' %}">Biz haqimizda</a></li>
        <li><a class="nav-link scrollto" href="{% url 'qabul' %}">Qabul</a></li>
        <li><a class="nav-link scrollto" href="{% url 'yonalishlar' %}">Yo'nalishlar</a></li>
        <li><a class="nav-link scrollto" href="{% url 'rahbariyat' %}">Rahbariyat</a></li>
        <li><a class="nav-link scrollto" href="{% url 'news' %}">Yangiliklar</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
  

    <!-- <a href="#appointment" class="appointment-btn scrollto"><span class="d-none d-md-inline">ARIZA</span>
      TOPSHIRISH</a> -->

  </div>
</header><!-- End Header -->
  
{% endblock nav %}

<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container-fluid">

    <div class="row">
      <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
        <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4"></a>
      </div>

      <div
        class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
        <h3>AVITSENNA TIBBIYOT TEXNIKUMI</h3>
        <p>O’zbekiston Respublikasi Oliy ta’lim, fan va innovatsiyalar vazirligining 2023 yil 23 noyabrdagi № 170016
          davlat litsenziyasi asosida o’z faoliyatini boshladi.</p>
        <p>Vazifalarimiz: Jahonning ilg‘or tibbiyot sohasidagi tajribalarini ta’lim tizimiga joriy etgan holda
          talabalarning faol va interfaol ta’lim olishini ta’minlash, talabalarni kreativ, noodatiy va inovatsion
          qarorlar qabul qilishga tayyorlash.</p>

        <div class="icon-box">
          <div class="icon"><i class="bx bx-fingerprint"></i></div>
          <h4 class="title"><a href="">Zamonaviy uslub va texnologiyalar</a></h4>
          <p class="description">Ta'lim muassasamizda darslar yangi pedagogik texnologiyalar innovatsion texnik
            vositalar yordamida tajribali ustozlar tomonidan olib boriladi</p>
        </div>

        <div class="icon-box">
          <div class="icon"><i class="ri-task-line"></i></div>
          <h4 class="title"><a href="">Interaktiv sensor doskalar</a></h4>
          <p class="description">Interaktiv sensor doska orqali inson tana a'zolarining tuzilishini 3d modellarida
            ko'rib hamda hozirgi zamon talabi bo'lgan internet materiallari orqalitibbiyotga oid yangiliklarni dars
            jarayonlarda o'rganiladi.</p>
        </div>

        <div class="icon-box">
          <div class="icon"><i class="bx bx-atom"></i></div>
          <h4 class="title"><a href="">Birinchi kursdanoq tibbiyot tajribasi</a></h4>
          <p class="description">Texnikumda birinchi kursning o'zidayoq talabalar nufuzli klinika va kasalxonalarda
            amaliy mashg'ulotlarda qatnashishadi va bu jarayon malakali shifokorlar tomonidan tashkillashtiriladi.</p>
        </div>

      </div>
    </div>

  </div>
</section><!-- End About Section -->




<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container">

    <div class="section-title">
      <h2>Kontakt ma'lumotlar</h2>
    </div>
  </div>

  <div>
    <iframe style="border:0; width: 100%; height: 350px;"
      src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d10086.341942910125!2d69.2111897746577!3d41.27214175226385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2s!4v1702827040765!5m2!1sru!2s%22%20width=%22600%22%20height=%22450%22%20style=%22border:0;%22%20allowfullscreen=%22%22%20loading=%22lazy%22%20referrerpolicy=%22no-referrer-when-downgrade"
      frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="container">
    <div class="row mt-5">

      <div class="col-lg-12">
        <div class="info">
          <div class="address">
            <i class="bi bi-geo-alt"></i>
            <h4>Manzil:</h4>
            <p>Toshkent shahri, Chilonzor tumani, Katta Qozirobod MFY, Farxod 16-uy</p>
          </div>

          <div class="email">
            <i class="bi bi-envelope"></i>
            <h4>Email:</h4>
            <p>info@example.com</p>
          </div>

          <div class="phone">
            <i class="bi bi-phone"></i>
            <h4>Telefon:</h4>
            <p>(55) 511 01 62,</p>
            <p>(55) 511 01 65,</p>
            <p>(33) 046 03 06</p>
          </div>

        </div>

      </div>

    </div>

  </div>
</section><!-- End Contact Section -->
{% endblock content %}