{% extends 'index.html' %}
{% load static %}
{% block content %}
{% block nav %}
<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

        <!-- <h1 class="logo me-auto"><a href="index.html">Medilab</a></h1> -->
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="/" class="logo me-auto"><img src="assets/img/ATT-logo.png" alt="" class="img-fluid">AVITSENNA
            TIBBIYOT TEXNIKUMI</a>

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a class="nav-link scrollto active" href="{% url 'index' %}">Bosh sahifa</a></li>
                <li><a class="nav-link scrollto" href="{% url 'about' %}">Biz haqimizda</a></li>
                <li><a class="nav-link scrollto" href="{% url 'qabul' %}">Qabul</a></li>
                <li><a class="nav-link scrollto" href="{% url 'yonalishlar' %}">Yo'nalishlar</a></li>
                <li><a class="nav-link scrollto" href="{% url 'rahbariyat' %}">Rahbariyat</a></li>
                <li><a class="nav-link scrollto" href="{% url 'news' %}">Yangiliklar</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>




    </div>
</header>

{% endblock nav %}
<div class="container">
    <section>
        <div class="hisobot">
            <div id="fh5co-course">
                <div class="container">
                    <h1>Yangiliklar</h1>
                    <div class="home">
                        <div class="news" id="news">
                            <div class="big_news">
                                <h3>Yangiliklar</h3>
                            </div>
                            <div class="min_news">
                                {% for i in news %}
                                <div class="new">
                                    <a href="#" class="a">
                                        <img src="{{ i.rasm.url }}" alt="" />
                                    </a>
                                    <span>{{ i.sana }}</span>
                                    <a href="{% url 'new_detail' i.pk %}">
                                        <p>
                                            {{i.title}}
                                        </p>
                                    </a>
                                </div>
                                {% endfor %}

                                <div class="pagination">
                                    <span class="step-links">
                                        {% if page_obj.has_next %}
                                        <div class="button_in_news_paginator">
                                            <a href="?page={{ page_obj.next_page_number }}">Oldinga</a>
                                        </div>
                                        {% endif %}
                                        {% if page_obj.has_previous %}
                                        <div class="button_in_news_paginator">
                                            <a href="?page={{ page_obj.previous_page_number }}">Orqaga</a>
                                        </div>
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


{% endblock content %}